services:
  postgres:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - goshopdata:/var/lib/postgresql
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  migrate:
    image: migrate/migrate
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ../backend/migrations:/migrations
    command: [
      "-path", "/migrations",
      "-database", "postgres://postgres:postgres@postgres:5432/postgres?sslmode=disable",
      "up"
    ]

  users_service:
    build:
      context: ../backend/users_service/
    container_name: goshop_users_service
    environment:
      PORT: ${USERS_SERVICE_PORT}
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - migrate
    ports:
      - "8080:8080"

volumes:
  goshopdata:
